@{
    @using Newtonsoft.Json;
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor httpContextAccessor;
    @using Microsoft.AspNetCore.Hosting;
    @using Microsoft.Extensions.Configuration;
    @using AbsolCase.Utility;
    @inject IWebHostEnvironment _env;
    @inject IConfiguration _config;

    string userdto = httpContextAccessor.HttpContext.Session.GetString("userData");
    UserDto userDto = new UserDto();
    bool canAccessMessages = false;
    bool canAccessTimeLline = false;
    bool canAccessCalendar = false;
    bool canAccessReporting = false;
    bool canAccessDocuments = false;
    bool canAccessNotes = false;
    if (!string.IsNullOrEmpty(userdto))
    {
        userDto = JsonConvert.DeserializeObject<UserDto>(userdto);
        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Unlimited Messages").FirstOrDefault() != null)
            canAccessMessages = true;
        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Timeline").FirstOrDefault() != null)
            canAccessTimeLline = true;

        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Calendar Events").FirstOrDefault() != null)
            canAccessCalendar = true;
        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Reporting").FirstOrDefault() != null)
            canAccessReporting = true;
        if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Documents Handling").FirstOrDefault() != null)
            canAccessDocuments = true;
        if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Notes Handling").FirstOrDefault() != null)
            canAccessNotes = true;
    }
    var apiBaseUrl = CommonMethods.GetApiBaseURL(_env, _config);/* + "api/";*/
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Absol Case</title>
    <!-- plugins:css -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <script src="~/js/external.js"></script>
    <!-- endinject -->
    <link rel=" shortcut icon" href="~/images/favicon.png" />
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link href="~/assets/css/appdefault.css" rel="stylesheet" />
    <link href="~/css/case.css" rel="stylesheet" />

    <link href="~/vendors/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <style type="text/css">
        /* Chart.js */
        @@keyframes chartjs-render-animation {
            from {
                opacity: .99
            }

            to {
                opacity: 1
            }
        }

        #datatable_previous {
            border-color: #010001eb;
            background-color: #efefef;
        }

        #datatable_next {
            border-color: #010001eb;
            background-color: #efefef;
        }

        .chartjs-render-monitor {
            animation: chartjs-render-animation 1ms
        }

        .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1
        }

            .chartjs-size-monitor-expand > div {
                position: absolute;
                width: 1000000px;
                height: 1000000px;
                left: 0;
                top: 0
            }

            .chartjs-size-monitor-shrink > div {
                position: absolute;
                width: 200%;
                height: 200%;
                left: 0;
                top: 0
            }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    <div id="myModall" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><b>Confirm!</b></h3>
                    <button type="button" class="close" data-dismiss="modal" onclick="closepopup()">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="font-size:20px; text-align:center; color:black" ;><b id="confirmation-text"></b></p>
                </div>
                <ul style="display:table;border-collapse:collapse; margin-bottom:20px">
                    <li onclick="closepopup()" style="display: table-cell;text-align:center; box-sizing: border-box;">
                        <a href="#" style="text-decoration:none;">
                            <img src="~/images/download (2).png" width="90" height="90" /><br />
                            <p style="font-size:15px; text-align:center; color:black"><b>No</b></p>
                        </a>
                    </li>
                    <li id="btn-yes" onclick="" style="display: table-cell;text-align:center; box-sizing: border-box;">
                        <a href="#" style="text-decoration:none;">
                            <img src="~/images/download.jpg" width="100" height="100" /><br />
                            <p style="font-size:15px; text-align:center; color:black"><b>Yes</b></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="SubModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><b>Confirm!</b></h3>
                    <button type="button" class="close" data-dismiss="modal" onclick="closesubpopup()">&times;</button>
                </div>
                <div class="modal-body" style="padding: 24px 26px;">
                    <p style="font-size:20px; color:black">Your subscription package does not allow access to this service, To use this feature have a look on another plans.</p>
                </div>
                <ul style="display:table;border-collapse:collapse; margin-bottom:20px">
                    <li onclick="closesubpopup()" style="display: table-cell;text-align:center; box-sizing: border-box;">
                        <a href="#" class="btn btn-danger" style="text-decoration:none;">Cancel</a>
                    </li>
                    <li id="btn-yes" onclick="" style="display: table-cell;text-align:center; box-sizing: border-box;">
                        <a href="@Url.Action("ReSubscribe", "Subscription" , new { area = "Public" }, null)" class="btn btn-primary" style="text-decoration:none;">Visit Plans</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="preloader" id="overlay" style="display: none">
        <div class="lds-roller">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="container-scroller ">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row border-bottom">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize" onclick="toggleIcon()">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="#">
                        <h3 class="name-heading">@userDto.FirstName @userDto.LastName</h3>
                    </a>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top">
                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                        <h1 class="welcome-text">
                            Good Morning, <span class="text-black fw-bold">@userDto.FirstName</span>
                        </h1>
                        <h3 class="welcome-sub-text">Welcome to Case Management System</h3>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-none d-lg-block user-dropdown" id="user-profile-layout">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="@userDto.ImagePath" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown dropdown-item-links" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">
                                <img class="img-xs rounded-circle" src="@userDto.ImagePath">
                                <p class="mb-1 mt-3 font-weight-semibold">@userDto.FirstName @userDto.LastName</p>
                                <p class="fw-light text-muted mb-0">@userDto.Email</p>
                            </div>
                            <a class="dropdown-item" href="~/Attorney/User/UserProfile"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile</a>

                            <a class="dropdown-item" href="~/Attorney/Activity/Index"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i>Activity Logs</a>

                            <a class="dropdown-item" href="~/Security/Account/Logout"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">

                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
                    </li>
                </ul>
                <div class="tab-content" id="setting-content">
                    <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
                        <div class="add-items d-flex px-3 mb-0">
                            <form class="form w-100">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                                </div>
                            </form>
                        </div>
                        <div class="list-wrapper px-3">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Team review meeting at 3.00 PM
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Prepare for presentation
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox">
                                            Resolve all the low priority tickets due today
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Schedule meeting for next week
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="checkbox" type="checkbox" checked>
                                            Project review
                                        </label>
                                    </div>
                                    <i class="remove ti-close"></i>
                                </li>
                            </ul>
                        </div>
                        <h4 class="px-3 text-muted mt-5 fw-light mb-0">Events</h4>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="ti-control-record text-primary me-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                            <p class="text-gray mb-0">The total number of sessions</p>
                        </div>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="ti-control-record text-primary me-2"></i>
                                <span>Feb 7 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                            <p class="text-gray mb-0 ">Call Sarah Graves</p>
                        </div>
                    </div>
                    <!-- To do section tab ends -->
                    <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
                        <div class="d-flex align-items-center justify-content-between border-bottom">
                            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 fw-normal">See All</small>
                        </div>
                        <ul class="chat-list">
                            <li class="list active">
                                <div class="profile"><img src="~/images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Thomas Douglas</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">19 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                                <div class="info">
                                    <div class="wrapper d-flex">
                                        <p>Catherine</p>
                                    </div>
                                    <p>Away</p>
                                </div>
                                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                                <small class="text-muted my-auto">23 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Daniel Russell</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">14 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                                <div class="info">
                                    <p>James Richardson</p>
                                    <p>Away</p>
                                </div>
                                <small class="text-muted my-auto">2 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Madeline Kennedy</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">5 min</small>
                            </li>
                            <li class="list">
                                <div class="profile"><img src="~/images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                                <div class="info">
                                    <p>Sarah Graves</p>
                                    <p>Available</p>
                                </div>
                                <small class="text-muted my-auto">47 min</small>
                            </li>
                        </ul>
                    </div>
                    <!-- chat tab ends -->
                </div>
            </div>

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <input type="hidden" value="@userDto.Id" id="current-userid" />
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Attorney/AttorneyDashboard/Index">
                            <i class="menu-icon mdi mdi-kodi"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    @*"/Attorney/Timeline/Index/Index"*@
                    <li class="nav-item" @(!canAccessTimeLline ? "onclick=ShowSubscriptionLimitation()" : "")>
                        <a class="nav-link" href="@(canAccessTimeLline == true ? Url.Action("Index","Timeline", new { area = "Attorney"}) : "#")" style="@(!canAccessTimeLline ? "color: lightslategray" : "")">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title" id="#sidebar">Timeline</span>
                        </a>
                    </li>
                    <li class="nav-item" @(!canAccessMessages ? "onclick=ShowSubscriptionLimitation()" : "")>
                        <a class="nav-link" href="@(canAccessMessages == true ? Url.Action("Message","Message", new { area = "Attorney"})  : "#")" style="@(!canAccessMessages ? "color: lightslategray" : "")">
                            <i class="mdi mdi-message menu-icon"></i>
                            <span class="menu-title">Message</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-b" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-city"></i>
                            <span class="menu-title">Firm Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-b">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Firm" asp-action="AddFirm">My Firm</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Firm" asp-action="FirmUsers">Firm Users</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-account-arrow-right"></i>
                            <span class="menu-title">User Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="User" asp-action="AddUser">Invite Members</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="User" asp-action="ManageUser">Manage Members</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="User" asp-action="BlockUsers">Block Members</a></li>
                                <div class="sepmenu"></div>
                                <li class="nav-item"> <a asp-area="Attorney" asp-controller="User" asp-action="ChangePassword" class="nav-link">Change Password</a></li>
                                <li class="nav-item"> <a asp-area="Attorney" asp-controller="Activity" asp-action="Index" class="nav-link">Activity Logs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-bank"></i>
                            <span class="menu-title">Company Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Cases" asp-controller="Company" asp-action="AddCompany">Add Company</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Cases" asp-controller="Company" asp-action="ManageCompany">Manage Company</a></li>
                                <div class="sepmenu"></div>
                                <li class="nav-item"> <a class="nav-link" asp-area="Cases" asp-controller="Company" asp-action="AddContact">Add Contacts</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Cases" asp-controller="Company" asp-action="ManageContact">Manage Contacts</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-ba" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-cogs"></i>
                            <span class="menu-title">Configurations</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-ba">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Configuration" asp-action="AddNotesTag">Notes Tag</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Configuration" asp-action="ManageNotesTag">Manage Notes Tags</a></li>
                                <div class="sepmenu"></div>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Configuration" asp-action="AddDocumentTag">Document Tags</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Configuration" asp-action="ManageDocumentTag">Manage Document Tags</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-bas" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-clipboard"></i>
                            <span class="menu-title">Case Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-bas">
                            <ul class="nav flex-column sub-menu">

                                <li class="nav-item"> <a class="nav-link" asp-area="Cases" asp-controller="Cases" asp-action="ManageCases">Manage Cases</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#task" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-library-books"></i>
                            <span class="menu-title">Task Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="task">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Task" asp-action="AddTask">Add Task</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Task" asp-action="ManageTask">Manage Task</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-lead" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-buffer"></i>
                            <span class="menu-title">Lead Management</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-lead">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Lead" asp-controller="Lead" asp-action="AddPotentialClient">Add Lead</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Lead" asp-controller="Lead" asp-action="ManageLead">Manage Leads</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Lead" asp-controller="Lead" asp-action="BoardLead">Leads Board</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#news" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi mdi-newspaper"></i>
                            <span class="menu-title">News</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="news">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="AttorneyNews" asp-action="AddNews">Add News</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="AttorneyNews" asp-action="ManageNews">Manage News</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-cc" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-square-inc-cash"></i>
                            <span class="menu-title">Invoices</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-cc">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Finance" asp-action="AddReceipt">Add Client Invoices</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Finance" asp-action="ClientTransaction">Manage Client Invoices</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-f" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-wallet"></i>
                            <span class="menu-title">Your Subscriptions</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-f">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Finance" asp-action="Invoices">My Paid Invoices</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Finance" asp-action="Subscriptions">My Subscription</a></li>
                            </ul>
                        </div>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-cci" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-vector-polyline"></i>
                            <span class="menu-title">Integration</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-cci">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="OutlookIntegration" asp-action="OutlookAuthentication">Outlook</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><span class="menu-title">Adobe</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-1" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-clipboard-text"></i>
                            <span class="menu-title">Notes</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-1" @(!canAccessNotes ? "onclick=ShowSubscriptionLimitation()" : "")>
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a href="@(canAccessNotes == true ? Url.Action("ManageNotes","Notes", new { area = "Attorney"}) : "#")" class="nav-link" style="@(!canAccessNotes ? "color: lightslategray" : "")">Manage Notes</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-Events" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-calendar-text"></i>
                            <span class="menu-title">Events</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-Events" @(!canAccessCalendar ? "onclick=ShowSubscriptionLimitation()" : "")>
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a href="@(canAccessCalendar == true ? Url.Action("ManageEvents","Events", new { area = "Attorney"}) : "#")" class="nav-link" style="@(!canAccessCalendar ? "color: lightslategray" : "")">Manage Events</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-Expenses" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-cash-multiple"></i>
                            <span class="menu-title">Expenses</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-Expenses">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Expense" asp-action="AddExpense">Add Expense</a></li>
                                <li class="nav-item"> <a class="nav-link" asp-area="Attorney" asp-controller="Expense" asp-action="ManageExpense">Manage Expenses</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@(Url.Action("Reporting","Reporting", new { area = "Attorney"}))">
                            <i class="mdi mdi-message menu-icon"></i>
                            <span class="menu-title">Reporting</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-Decuments" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-file-document"></i>
                            <span class="menu-title">Documents</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-Decuments" @(!canAccessDocuments ? "onclick=ShowSubscriptionLimitation()" : "")>
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a href="@(canAccessDocuments == true ?  Url.Action("ManageDocuments","Documents", new { area = "Attorney"}) : "#")" class="nav-link" style="@(!canAccessDocuments ? "color: lightslategray" : "")">Manage Documents</a></li>
                                <li class="nav-item"> <a href="@(canAccessDocuments == true ?  Url.Action("ClientDocuments","Documents", new { area = "Attorney"}) : "#")" class="nav-link" style="@(!canAccessDocuments ? "color: lightslategray" : "")">Client Documents</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-Decumentsc" aria-expanded="false" aria-controls="ui-basicc">
                            <i class="menu-icon mdi mdi-file-document"></i>
                            <span class="menu-title">Outlook</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-Decumentsc">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a href="@Url.Action("Index","OutlookIntegration", new { area = "Attorney"})" class="nav-link" style="color: lightslategray">Outlook Integration</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">

                                <div class="tab-content tab-content-basic">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Powered by <a href="https://www.ab-sol.com/" target="_blank">Absolute solutions</a></span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © @DateTime.Now.Year.ToString();. All rights reserved Absol Case.</span>
                    </div>
                </footer>
            </div>

            <!-- main-panel ends -->
        </div>
    </div>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>

    <!-- Plugin js for this page -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/progressbar.js/progressbar.min.js"></script>
    <!-- Plugin js for this page-->
    <script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->
    <script src="~/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/Chart.roundedBarCharts.js"></script>
    <script src="~/vendors/js/vendor.bundle.base.js"></script>

    @RenderSection("scripts", required: false)
    <style>
        .dataTables_wrapper .dataTable thead .sorting:after, .dataTables_wrapper .dataTable thead .sorting_asc:after, .dataTables_wrapper .dataTable thead .sorting_desc:after, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
            display: none
        }

        .dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
            display: none
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="~/assets/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
            localStorage.setItem("token", '@userDto.Token');
        });
        function toggleIcon() {
            $('body').toggleClass("sidebar-icon-only");
        }
        function ShowSubscriptionLimitation() {
            $("#SubModal").modal('show');
            $( ".modal-backdrop" ).css("display", "none");
        }

        function GetURL() {
            var URL = "@apiBaseUrl";
            //var URL = "https://localhost:44318/";
            //var URL = "http://38.17.51.206:8010/";
            return URL;
        }
    </script>
</body>
</html>
