@model AbsolCase.Models.News
@{
    ViewBag.Title = "Details News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add News</h4>
            @*<p class="card-description">
                    Basic form layout
                </p>*@
           


                <div class="form-group">
                    <label for="exampleInputUsername1">Tittle</label>
                    @Html.EditorFor(model => model.NewsTittle, new { htmlAttributes = new { @class = "form-control", placeholder = "Tittle" } })
                    @Html.ValidationMessageFor(model => model.NewsTittle, "", new { @class = "text-danger db" })

                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Description</label>
                    @Html.TextAreaFor(model => model.NewsDescription, new { @class = "form-control", @style = "height:100px" })
                    @Html.ValidationMessageFor(model => model.NewsDescription, "", new { @class = "text-danger db" })

                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="exampleInputUsername1">publish Date</label>
                        @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Publish Date", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.NewsDescription, "", new { @class = "text-danger db" })

                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                        <label for="exampleInputUsername1">Expire Date</label>
                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Expire Date", @type = "date" } })

                        @*@Html.TextAreaFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Publish Date" Type="date" } })
        @Html.ValidationMessageFor(model => model.NewsTittle, "", new { @class = "text-danger db" })*@

                    </div>
                </div>


                @*<button class="btn btn-light">Cancel</button>*@
           
        </div>
    </div>
</div>

