@model List<AbsolCase.Models.Contact>

@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Packages.css" rel="stylesheet" type="text/css" />
@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="col-lg-12 grid-margin stretch-card">
    <input type="hidden" id="contactid" />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Manage Contact</h4>
            <p class="card-description">
                Manage Your Contact
            </p>
            <div class="table-responsive">
                <table id="datatable" class="table table-striped  dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>Contact Group</th>
                            <th>Cell Phone</th>
                            
                            <th>Address</th>
                            
                            <th>Country</th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var contact in Model)
                            {
                                <tr>
                                    <td>@(!string.IsNullOrEmpty(contact.FirstName)? contact.FirstName :"N/A")</td>
                                    
                                    <td>@(!string.IsNullOrEmpty(contact.LastName)? contact.LastName :"N/A")</td>
                                    <td class="py-1">
                                        @(!string.IsNullOrEmpty(contact.Email)? contact.Email :"N/A")
                                    </td>
                                    <td>@(!string.IsNullOrEmpty(contact.ContactGroupName)? contact.ContactGroupName :"N/A")</td>
                                    <td>@(!string.IsNullOrEmpty(contact.CellPhone)? contact.CellPhone :"N/A")</td>
                                   
                                    <td>@(!string.IsNullOrEmpty(contact.Address)? contact.Address :"N/A")</td>
                                    <td>@(!string.IsNullOrEmpty(contact.CountryName)? contact.CountryName :"N/A")</td>
                                    <td>
                                        @Html.ActionLink("Edit", "UpdateContact", "Company", new { Id = contact.ContactId}) |
                                        <a href="#" onclick="openpopup(@contact.ContactId, 'Are you sure to delete contact?', 'deleteContact(@contact.ContactId)')">Delete</a> |
                                        @*<a href="@Url.Action("AddCase", "Company")">Add Case</a>*@
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        var remoteServerURl = "";
        var token = "";
        $(function () {
            getRemoteServerURl();
            token = localStorage.getItem('token');
        });

        function getRemoteServerURl() {
            //$.ajax({
            //    type: 'GET',
            //    url: '/common/getConfigurationValue',
            //    data: { sectionName: "app", paramName: "remoteServerUrl" }
            //}).done(function (response) {
            //    remoteServerURl = response.parameter;


            //})
            var ReceivedURL = GetURL();
            remoteServerURl = ReceivedURL;
        };
         function deleteContact(Id) {
                 token = localStorage.getItem('token');
             $.ajax({
                type: 'Delete',
                url: `${remoteServerURl}api/Contact/Delete?Id=` + Id,
                headers: { "Authorization": 'Bearer ' + token }
            }).done(function (data) {
                closepopup();
                toastr.success("contact deleted successfully");
                setTimeout(function () {
                    window.location.href = '@Url.Action("ManageContact", "Company")'
                }, 1000);
            })
        }
        $(document).ready(function () {
            $('#datatable').dataTable({
                "columnDefs": [
                    { "searchable": false, "targets": 7 }
                ]
            });
        });
    </script>
}


