@model List<AbsolCase.Models.Decuments>

@{
    ViewData["Title"] = "ClientDocuments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/lite.min.css" rel="stylesheet" />
<script src="~/assets/js/lite.min.js"></script>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modalEdit {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modalDetail {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modalCase {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        margin-top:-6rem;
        margin-bottom:5rem;
    }

    .modal-content-Detail {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        margin-left: 234px;
        margin-top: 44px;
    }

    .modal-content-case {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        margin-left: 234px;
        margin-top: 44px;
    }

    /* The Close Button */
    .closeAdd {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeAdd:hover,
        .closeAdd:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .closeDetail {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeDetail:hover,
        .closeDetail:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .closeCase {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .closeCase:hover,
        .closeCase:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .closeTags {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-left: 10px;
    }

        .closeTags:hover,
        .closeTags:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .closeCaseTags {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-left: 10px;
    }

    /* .closeCaseTags:hover,
                                        .closeCaseTags:focus {
                                            color: #000;
                                            text-decoration: none;*/

    /*}*/
</style>
<script>
    $(document).ready(function () {
        $('.summernote').summernote();
    });
</script>

@*@if (TempData["response"] != null)
    {
        <div class="alert-danger" id="msgalert">
            @TempData["response"].ToString()
        </div>
    }*@
<div class="col-lg-12 grid-margin stretch-card mt-3 ms-3 me-4 pe-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">

                    <h4 class="card-title">Manage Documents</h4>
                </div>
                @*<div class="col-md-4">
                    <a class="btn btn-info" id="myBtn">Personal Documents</a>
                    <a class="btn btn-info" id="myBtnCase">Case Documents</a>
                </div>*@
            </div>
            <p class="card-description">
                You can manage your Documents here .
            </p>

            <div class="table-responsive">
                <table id="datatable" class="table table-striped  dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ser No#</th>
                            <th>Client Name</th>
                            <th>
                                Tittle
                            </th>
                            <th>
                                Type
                            </th>


                            <th>Description</th>
                            <th>Date</th>
                            <th>Action</th>


                        </tr>
                    </thead>
                    @{
                        int i = 1;
                    }
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var _decumet in Model)
                            {
                                        <tr>
                                            <td>@i</td>
                                            <td class="py-1">
                                        @_decumet.UserName
                                            </td>
                                            <td class="py-1">
                                        @_decumet.DecumentTittle
                                            </td>
                                            <td class="py-1">
                                        @_decumet.DecumentType
                                            </td>
                                            <td>@_decumet.DecumentDescripation</td>
                                            <td>@_decumet.CreatedDate</td>

                                            <td>
                                                <a href="@Url.Action("DownloadFiles", "Documents",new {id=@_decumet.Id })">Download</a> |

                                                <a href="#" onclick="openpopup(@_decumet.Id, 'Are you sure to delete document?', 'DeleteDocuments(@_decumet.Id)')">Delete</a>

                                            </td>
                                        </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
           



        </div>
    </div>
</div>


@section scripts{

        <script src="~/assets/js/lite.min.js"></script>
        <script>

            $('#summernote').summernote({
                placeholder: 'Descripation',
                height: 100,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]

            });
            $('#summernoteDetail').summernote({
                placeholder: 'Descripation',
                height: 100,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]

            }); $('#summernoteEdit').summernote({
                placeholder: 'Descripation',
                height: 100,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']]
                ]

            });
        </script>

        <script>
            $("#notestag").change(function () {

                var text = $("#notestag option:selected").text();
                if (text != "Select") {

                    $("#ultagnotes").append("<li class='btn btn-success'>" + $("#notestag option:selected").text() + "<span class='closeTags pull-right' onclick='DeleteItem(this)'>&times;</span></li > ");
                }
            });
        </script>
        <script>
            $("#notestagEdit").change(function () {

                var text = $("#notestagEdit option:selected").text();
                if (text != "Select") {

                    $("#ulCasetagnotesEdit").append("<li class='btn btn-success'>" + $("#notestagEdit option:selected").text() + "<span class='closeTags pull-right' onclick='DeleteItem(this)'>&times;</span></li > ");
                }
            });
        </script>
        <script>
            $("#notestagCase").change(function () {
                var text = $("#notestagCase option:selected").text();

                if (text != "Select") {

                    $("#ulCasetagnotes").append("<li class='btn btn-success'>" + $("#notestagCase option:selected").text() + "<span class='closeCaseTags pull-right' onclick='DeleteItem(this)'>&times;</span></li > ");
                }

            });
        </script>
        <script>
            $("#noteCasestag").change(function () {
                var text = $("#noteCasestag option:selected").text();

                if (text != "Select") {

                    $("#ulCasetagnotes").append("<li class='btn btn-success'>" + $("#noteCasestag option:selected").text() + "<span class='closeCaseTags pull-right' onclick='DeleteItem(this)'>&times;</span></li > ");
                }

            });
        </script>
    @*$('#')
        id="ultagnotes"*@

        
        <script>
            function DeleteItem(Id) {

                $(ctl).parents("li").remove();

            }
        </script>
        <script>
            var remoteServerURl = "";
            var plan = null;
            var token = "";
            $(function () {
                getRemoteServerURl();
                token = localStorage.getItem('token');
            });
            function getRemoteServerURl() {
                //$.ajax({
                //type: 'GET',
                //url: '/common/getConfigurationValue',
                //data: { sectionName: "app", paramName: "remoteServerUrl" }
                //}).done(function (response) {
                //    remoteServerURl = response.parameter;
                //    getDecumentsTag();

                //    getCases();


                //})

                var ReceivedURL = GetURL();
                remoteServerURl = ReceivedURL;
                
            };


            function DeleteDecuments(Id) {

                token = localStorage.getItem('token');
                $.ajax({
                    type: 'DELETE',
                    url: `${remoteServerURl}api/Documents/DeleteDocuments?Id=${Id}`,
                    headers: { "Authorization": 'Bearer ' + token },
                    error: function (data) {
                        if (data.responseText == 'Please Add Firm Details First') {
                            window.location.href = '@Url.Action("AddFirm", "Firm", new { area= "Attorney" })';
                        }
                    }
                }).done(function (data) {
                    window.location.href = '@Url.Action("ManageDocuments", "Documents")'
                })
            };

        </script>
        <script>
            function fileToByteArray(file) {
                return new Promise((resolve, reject) => {
                    try {
                        let reader = new FileReader();
                        let fileByteArray = [];
                        reader.readAsArrayBuffer(file);
                        reader.onloadend = (evt) => {
                            if (evt.target.readyState == FileReader.DONE) {
                                let arrayBuffer = evt.target.result,
                                    array = new Uint8Array(arrayBuffer);
                                for (byte of array) {
                                    fileByteArray.push(byte);
                                }
                            }
                            resolve(fileByteArray);
                        }
                    } catch (e) {
                        reject(e);
                    }
                })
            }
            $(document).ready(function () {
                $('#datatable').dataTable({
                    "columnDefs": [
                        { "searchable": false, "targets": 5 }
                    ]
                });
            });
        </script>


}
