@model IEnumerable<AbsolCase.Models.News>

@{
    ViewBag.Title = "Manage  News";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/css/Packages.css" rel="stylesheet" type="text/css" />


@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="col-lg-12 grid-margin stretch-card mt-3 ms-3 me-4 pe-4">
    <input type="hidden" id="newid" />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">News</h4>

            <div class="table-responsive">
                <table id="datatable" class="table table-striped  dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>SR#</th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>

                            <th>
                                PublishDate
                            </th>
                            <th>
                                ExpireDate
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                        }
                        @foreach (var item in Model)
                        {

                            count++;

                            <tr>
                                <td>
                                    @count
                                </td>
                                <td class="py-1">
                                    @item.NewsTittle
                                </td>
                                <td>
                                    @item.NewsDescription
                                </td>
                                <td>
                                    @(item.PublishDate != null ? @item.PublishDate.Value.ToString("dd-MM-yyyy") : "N/A")
                                </td>
                                <td>
                                    @(item.ExpireDate != null ? @item.ExpireDate.Value.ToString("dd-MM-yyyy") : "N/A")
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "UpdateNews", "AttorneyNews", new { Id = item.Id }) |
                                    <a href="#" onclick="openpopup(@item.Id, 'Are you sure to delete news?', 'deleteNews(@item.Id)')">Delete</a> 
                                    @*@Html.ActionLink("View Details", "DetailsNews", "AttorneyNews", new { Id = item.Id })*@
                                </td>



                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {


    <script>
        var remoteServerURl = "";
        var token = "";
      $(function () {
          getRemoteServerURl();
          token = localStorage.getItem('token');
        });

        function getRemoteServerURl() {
            //$.ajax({
            //    type: 'GET',
            //    url: '/common/getConfigurationValue',
            //    data: { sectionName: "app", paramName: "remoteServerUrl" }
            //}).done(function (response) {
            //    remoteServerURl = response.parameter;
               

            //})
            var ReceivedURL = GetURL();
            remoteServerURl = ReceivedURL;
        };
        function deleteNews(Id) {
            
         /*   var id = $("#newid").val();*/
                token = localStorage.getItem('token');
            $.ajax({
                type: 'Delete',
                url: `${remoteServerURl}api/News/DeleteNews?Id=` + Id,
                headers: { "Authorization": 'Bearer ' + token }
            }).done(function (data) {
                closepopup();
                toastr.success("news deleted successfully");
                setTimeout(function () {
                    window.location.href = '@Url.Action("ManageNews", "AttorneyNews")'
                }, 1000);
            })
        }
        $(document).ready(function () {
            $('#datatable').dataTable({
                "columnDefs": [
                    { "searchable": false, "targets": 5 }
                ]
            });
        });
    </script>
}


