@model AbsolCase.Models.BillingMethod
@using AbsolCase.Models
@{
    @using Newtonsoft.Json;
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor httpContextAccessor;
    string userdto = httpContextAccessor.HttpContext.Session.GetString("userData");
    UserDto userDto = new UserDto();
    bool canAccessMessages = false;
    bool canAccessTimeLline = false;
    bool canAccessCalendar = false;
    bool canAccessReporting = false;
    bool canAccessDocuments = false;
    bool canAccessNotes = false;
    if (!string.IsNullOrEmpty(userdto))
    {
        userDto = JsonConvert.DeserializeObject<UserDto>(userdto);
        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Unlimited Messages").FirstOrDefault() != null)
            canAccessMessages = true;
        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Timeline").FirstOrDefault() != null)
            canAccessTimeLline = true;

        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Calendar Events").FirstOrDefault() != null)
            canAccessCalendar = true;
        @if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Reporting").FirstOrDefault() != null)
            canAccessReporting = true;
        if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Documents Handling").FirstOrDefault() != null)
            canAccessDocuments = true;
        if (userDto != null && userDto.Services != null && userDto.Services.Count > 0 && userDto.Services.Where(x => x.Name == "Notes Handling").FirstOrDefault() != null)
            canAccessNotes = true;
    }
}
@{
    ViewBag.Title = "Update Billing Method";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}

<div class="row mb-1">
    <div class="card col-md-12 col-lg-12 pull-right grid-margin">

        <div class="card-block mt-3 ml-5">
            <ul class="navbar dashboard-short-icon">
                <li style="display: table-cell;text-align:center; box-sizing: border-box;" @(!canAccessCalendar ? "onclick=ShowSubscriptionLimitation()" : "")>
                    <a href="@(canAccessCalendar == true ? Url.Action("ManageEvents","Admin", new { area = "Attorney"}) : "#")" style="text-decoration:none;">
                        <img src="~/images/dashboard/event.jpg" width="50" height="50" /><br />
                        Event
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;" @(!canAccessDocuments ? "onclick=ShowSubscriptionLimitation()" : "")>
                    <a href="@(canAccessDocuments == true ?  Url.Action("ManageDocuments","Admin", new { area = "Attorney"}) : "#")" style="text-decoration:none;">
                        <img src="~/images/dashboard/document-removebg.png" width="50" height="50" /><br />
                        Document
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <a href="@Url.Action("ManageTask", "Admin", new { area = "Attorney" })" style="text-decoration:none;">
                        <img src="~/images/dashboard/task.png" width="50" height="50" /><br />
                        Task
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <a href="@Url.Action("AddPotentialClient", "Admin", new { area = "Attorney" })" style="text-decoration:none;">
                        <img src="~/images/dashboard/lead-removebg.png" width="50" height="50" /><br />

                        Lead
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <a href="@Url.Action("AddContact", "Admin", new { area = "Attorney" })" style="text-decoration:none;" id="contactmodal">
                        <img src="~/images/dashboard/contact-removebg.png" width="50" height="50" /><br />
                        Contact
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <a href="@Url.Action("ManageCases", "Admin", new { area = "Attorney" })" style="text-decoration:none;" onclick="abc();">
                        <img src="~/images/dashboard/briefcase-removebg.png" width="50" height="50" /><br />
                        Case
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;" @(!canAccessMessages ? "onclick=ShowSubscriptionLimitation()" : "")>
                    <a href="@(canAccessMessages == true ? Url.Action("Message","Admin", new { area = "Attorney"}) : "#")" style="text-decoration:none;">
                        <img src="~/images/dashboard/message.png" width="50" height="50" /><br />
                        Message
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box; ">
                    <a href="@Url.Action("AddExpense", "Admin", new { area = "Attorney" })" style="text-decoration:none;">
                        <img src="~/images/dashboard/expenses.png" width="50" height="50" /><br />
                        Expense
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <a href="@Url.Action("AddReceipt", "Admin", new { area = "Attorney" })" style="text-decoration:none;">
                        <img src="~/images/dashboard/invoice.jpg" width="50" height="50" /><br />
                        Invoice
                    </a>
                </li>
                <li style="display: table-cell;text-align:center; box-sizing: border-box;" @(!canAccessNotes ? "onclick=ShowSubscriptionLimitation()" : "")>
                    <a href="@(canAccessNotes == true ? Url.Action("ManageNotes","Admin", new { area = "Attorney"}) : "#")" style="text-decoration:none;">
                        <img src="~/images/dashboard/notes.png" width="50" height="50" /><br />
                        Notes
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6 grid-margin stretch-card ms-3 mt-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Billing Method</h4>
            @*<p class="card-description">
            Basic form layout
            </p>*@
            <form asp-action="UpdateBillingMethod" method="post">
                <input type="hidden" value="@Model.Id" />
                <div class="form-group">
                    <label for="exampleInputUsername1">Billing Name<span style="font-weight:bolder;font-size:18px;color:red">*</span></label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Billing Method" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger db" })
                </div>
                <input type="submit" value="Update" class="btn btn-dark fr" />
                @*<button class="btn btn-light">Cancel</button>*@
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var remoteServerURl = "";
        var plan = null;
        var token = "";
        $(function () {
            getRemoteServerURl();
            token = localStorage.getItem('token');
        });
        function getRemoteServerURl() {
            //$.ajax({
            //type: 'GET',
            //url: '/common/getConfigurationValue',
            //data: { sectionName: "app", paramName: "remoteServerUrl" }
            //}).done(function (response) {
            //    remoteServerURl = response.parameter;
            //    getDecumentsTag();

            //    getCases();


            //})

            var ReceivedURL = GetURL();
            remoteServerURl = ReceivedURL;
        };
    </script>
    <script>
        setTimeout(function () {
            $("#msgalert").hide();
        }, 3500);
    </script>
}