@model AbsolCase.Models.AspNetUsers

@{
    ViewBag.Title = "Update User";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}
@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add User </h4>
        <form class="form-sample" method="post" enctype="multipart/form-data">
            <p class="card-description">
                Personal info
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Contact No.</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact No.", } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", Type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", Type = "password" } })
                            @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Role</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("RoleName", new SelectList(ViewBag.RolesList), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>

            </div>
            <p class="card-description">
                Address
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Address </label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">State</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control", placeholder = "State" } })
                            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">City</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Postcode</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Post Code" } })
                            @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger db" })
                        </div>
                    </div>
                </div>
            </div>
            <p class="card-description">
                Profile Image
            </p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3">Select Image </label>
                        <div class="col-sm-9">
                            <input type="file" name="profile_img" class="form">
                        </div>
                    </div>
                </div>

            </div>
            <input type="submit" class="btn btn-lg btn-primary me-3" style="float:right" />
            <button type="submit" class="btn btn-lg btn-light me-3" style="float:right ; background-color: grey">Cancel</button>

        </form>
    </div>
</div>
<script>
    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>