@using AbsolCase.Models
@model List<Tasks>

@{
    ViewBag.Title = "Manage Task";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/css/Packages.css" rel="stylesheet" type="text/css" />
@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="col-lg-12 grid-margin stretch-card">
    <input type="hidden" id="taskid" />
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Manage Tasks</h4>
            <p class="card-description">
                Manage Your Task
            </p>
            <div class="table-responsive">
                <table id="datatable" class="table table-striped  dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Task Name</th>
                            <th>Due Date</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            int count = 0;
                            @foreach (var company in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td class="py-1">
                                        @company.Name
                                    </td>
                                    <td>@(company.DueDate != null ? company.DueDate.Value.ToString("dd'/'MM'/'yyyy") : "N/A")</td>
                                    <td>@company.Priority</td>
                                    <td>@company.Status</td>
                                    <td>
                                        @Html.ActionLink("Edit", "UpdateTask", "Task", new { Id = company.Id }) |
                                        <a href="#" onclick="openpopup(@company.Id, 'Are you sure to delete task?', 'deletetask()')">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var remoteServerURl = "";
        var token = "";
        $(function () {
            getRemoteServerURl();
            token = localStorage.getItem('token');
        });

        function getRemoteServerURl() {
            //$.ajax({
            //    type: 'GET',
            //    url: '/common/getConfigurationValue',
            //    data: { sectionName: "app", paramName: "remoteServerUrl" }
            //}).done(function (response) {
            //    remoteServerURl = response.parameter;
            //})
            var ReceivedURL = GetURL();
            remoteServerURl = ReceivedURL;
        }
        function deletetask() {
            var id = $("#taskid").val();
            console.log(`${remoteServerURl}api/Task/DeleteTask?Id=` + id);
                token = localStorage.getItem('token');
            $.ajax({
                type: 'Delete',
                url: `${remoteServerURl}api/Task/DeleteTask?Id=` + id,
                headers: { "Authorization": 'Bearer ' + token }
            }).done(function (data) {
                closepopup();
                toastr.success("task deleted successfully");
                setTimeout(function () {
                    window.location.href = '@Url.Action("ManageTask","Task")'
                }, 1000);
            })
        }
        $(document).ready(function () {
            $('#datatable').dataTable({
                "columnDefs": [
                    { "searchable": false, "targets": 5 }
                ]
            });
        });
    </script>
}