@model AbsolCase.Models.LoginUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Absol Case</title>
    <!-- plugins:css -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel=" shortcut icon" href="~/images/favicon.png" />
    <style>
        .eye-icon {
            cursor: pointer;
            position: relative;
            float: right;
            display: flex;
            margin-top: -33px;
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            @*@if (TempData["response"] != null)
                            {
                                <div class="alert-danger" id="msgalert">
                                    @TempData["response"].ToString()
                                </div>
                            }*@
                            @if (TempData["sessionExpired"] != null)
                            {
                                <div class="alert-danger">
                                    @TempData["sessionExpired"].ToString()
                                </div>
                            }
                            <form method="post" action="Login" class="pt-3">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Email*" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger db" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "****" })
                                    <i class="fa fa-eye eye-icon"></i>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger db" })
                                </div>
                                <div class="mt-3">
                                    <input type="submit" value="SIGN IN" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" />
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                    <a href="~/Security/Account/forgetpassword" class="auth-link">Forgot password?</a>
                                </div>
                                <br />
                                <div>
                                    <p class="normal text-black">
                                        Don't have an account?
                                        <a href="~/Public/Subscription">Sign Up.</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</body>
</html>
<!-- container-scroller -->
<!-- plugins:js -->

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="../../vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/settings.js"></script>
<script src="../../js/todolist.js"></script>
<script>
    $(function () {
        $(".eye-icon").click(function () {
            if ($("#Password").attr("type") == "password") {
                $(".eye-icon").removeClass("fa-eye");
                $(".eye-icon").addClass("fa-eye-slash");
                $("#Password").attr("type", "text");
            }
            else {
                $(".eye-icon").removeClass("fa-eye-slash");
                $(".eye-icon").addClass("fa-eye");
                $("#Password").attr("type", "password");
            }
        });
    });
</script>
<!-- endinject -->

@section scripts {
    <script src="~/js/account/account.js"></script>
}
