
@{
    ViewBag.Title = "ManageAdminDocument";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}



<link href="~/css/Packages.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />


@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Manage Admin Document</h4>
            <p class="card-description">
                Manage Document Tag
            </p>
            <div class="table-responsive">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SR#</th>
                            <th>
                                Document Tags
                            </th>

                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    @{
                        int i = 1;
                    }
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var document in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td class="py-1">
                                        @document.DocumentTagName
                                    </td>

                                    <td>
                                        <a href="@Url.Action("UpdateAdminDocumentTag", "Configuration", new { id = document.Id })"><i class="fas fa-edit"></i></a>
                                        |  <a href="#"   onclick="openpopup(@document.Id, 'Are you sure to delete document tag?', 'deletedocument(@document.Id)')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        @*<a href>Edit |</a>
                                            <a>Delete </a>*@
                                    </td>


                                </tr>
                                i++;

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="myModall" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><b>Confirm!</b></h3>
                <button type="button" class="close" data-dismiss="modal" onclick="closepopups()">&times;</button>
            </div>
            <div class="modal-body">
                <p style="font-size:20px; text-align:center; color:black"><b>Are you sure to delete price plan?</b></p>
            </div>
            <ul style="display:table;border-collapse:collapse; margin-bottom:20px">
                <li onclick="closepopups()" style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <a href="#" style="text-decoration: none; color: black">
                        <img src="~/images/download (2).png" width="90" height="90" /><br />
                        No
                    </a>
                </li>

                <li onclick="deletedocument()" style="display: table-cell;text-align:center; box-sizing: border-box;">
                    <input id="deleteid" data-del="" hidden/>
                    <a href="#" style="text-decoration: none; color: black">
                        <img src="~/images/download.jpg" width="100" height="100" /><br />
                        Yes
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>

@section scripts {

<script>
    function openpopup(id) {
        $("#deleteid").attr("data-del", id);
        $("#myModall").modal('show');
    }
    function closepopups() {
        $("#myModall").modal('hide');

    }
</script>
    <script>
        var remoteServerURl = "";
        var token = "";
      $(function () {
          getRemoteServerURl();
          token = localStorage.getItem('token');
        });

        function getRemoteServerURl() {
            //$.ajax({
            //    type: 'GET',
            //    url: '/common/getConfigurationValue',
            //    data: { sectionName: "app", paramName: "remoteServerUrl" }
            //}).done(function (response) {
            //    remoteServerURl = response.parameter;


            //})
            var ReceivedURL = GetURL();
            remoteServerURl = ReceivedURL;
        };
        function deletedocument() {
            var getid = $("#deleteid").attr("data-del");
                token = localStorage.getItem('token');
            $.ajax({
                type: 'Delete',
                url: `${remoteServerURl}api/ConfigManagement/DeleteAdminDocumentTag?Id=` + getid,
                headers: { "Authorization": 'Bearer ' + token }
            }).done(function (data) {
                closepopup();
                toastr.success("notes deleted successfully");

                setTimeout(function () {
                    window.location.href = '@Url.Action("ManageAdminDocumentTag", "Configuration")'
                }, 1000);
            })
        }
        $(document).ready(function () {
            $('#datatable').dataTable({
                "columnDefs": [
                    { "searchable": false, "targets": 2 }
                ]
            });
        });
    </script>
}

