@model AbsolCase.Models.DocumentTag
@{
    ViewBag.Title = "UpdateAdminDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}




<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Admin Document</h4>

            @using (Html.BeginForm("UpdateAdminDocumentTag", "Configuration", FormMethod.Post, new { @class = "forms-sample" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.FirmId)
                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    <label for="exampleInputUsername1">Notes Tag Name<span style="font-weight:bolder;font-size:18px;color:red">*</span></label>
                    @Html.EditorFor(model => model.DocumentTagName, new { htmlAttributes = new { @class = "form-control", placeholder = "Notes Tag" } })
                    @Html.ValidationMessageFor(model => model.DocumentTagName, "", new { @class = "text-danger db" })

                </div>


                <input type="submit" value="Update" class="btn btn-dark fr" />
                @*<button class="btn btn-light">Cancel</button>*@
            }
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>