@model AbsolCase.Models.ChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<style>
    .eye-icon {
        cursor: pointer;
        position: relative;
        float: right;
        display: flex;
        margin-top: -34px;
        margin-right: 15px;
    }
</style>
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change Password</h4>
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "forms-sample" }))
            {
                <div class="form-group">
                    <label for="exampleInputUsername1">New Password</label>
                    @Html.PasswordFor(model => model.PasswordHash, new { @class = "form-control", placeholder = "New Password*" })
                    <i class="fa fa-eye eye-icon" id="password-eye" onclick="toggleEyeIcon('password-eye','PasswordHash')"></i>
                    @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger db" })
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Confirm New Password</label>
                    @Html.PasswordFor(model => model.ConfirmPasswordHash, new { @class = "form-control", placeholder = "Confirm New Password*" })
                <i class="fa fa-eye eye-icon" id="confirm-eye" onclick="toggleEyeIcon('confirm-eye','ConfirmPasswordHash')"></i>
                    @Html.ValidationMessageFor(model => model.ConfirmPasswordHash, "", new { @class = "text-danger db" })
                </div>
                <button type="submit" class="btn btn-primary me-2">ChangePassword</button>
            }
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
    function toggleEyeIcon(eyeId, passId) {
        if ($("#" + passId).attr("type") == "password") {
            $("#" + eyeId).removeClass("fa-eye");
            $("#" + eyeId).addClass("fa-eye-slash");
            $("#" + passId).attr("type", "text");
        }
        else {
            $("#" + eyeId).removeClass("fa-eye-slash");
            $("#" + eyeId).addClass("fa-eye");
            $("#" + passId).attr("type", "password");
        }
    };
</script>
